<div class="container">
  <div class="row p-1 justify-content-center">
    <div class="col-6 p-3">
      <div class = "text-right my-2">
        <button [routerLink]="['/']" class="btn btn-secondary">Home</button>
      </div>
      <h5 class="text-warning my-2">Add a new Author</h5>
      <form class = "p-4 border">
        <div class="form-group">
          <label for="">Name:</label>
          <input
            type="text"
            class="form-control"
            name="author['name']"
            [(ngModel)] = "author['name']"
          />
        </div>
        <button (click) = "createAuthor()" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div *ngIf = "errors">
        <p class = "my-2 text-danger">{{errors.name.message}}</p>
      </div>
    </div>
  </div>
</div>
